h1{
    text-align: center;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #779556;

    
}
.headings{
    text-align:center;
    float: right;
    width: 36%;
    height: 880px;
    background-color: #779556;

}
h2{
    color: white;
font-size: 35px;
background-color: #779556


}
*{
    background-color: ;
}

input:hover{
    background-color: #312E2B;
    color: white;
}
.main{
    margin-right: 60%;
    
}
body{
    margin: 0;%;
}


