.heading{
    color: rgb(0, 0, 0);
    font-size: 30px;
   margin: 0 auto;
    border: 1px solid transparent;
    /* box-shadow: 0 2px 5px 1px rgba(64,60,67,.16); */
    box-shadow:  0 2px 5px 1px #7A6123;
    border-radius: 24px;
    display: ;
    z-index: 3;
    text-align: center;
 }
*{
    background-color: #ffffff;;
    
}

.stuff{
    text-align: center;
    color: black;
    font-weight: bolder;
    z-index: 3;

}
.feedback{
    border: 30px solid rgb(0, 0, 0);

}
.feedback:focus{
    color: white;
}
.input1{
   
    
}
.input2{
    margin-right: 29px;

 }
.cities{
    margin-left: 20px;
}
.checkbox{
    border-color: lightgreen;
    
}
.bottomtext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 20px solid transparent;
    box-shadow: 2px 5px 1px #7A6123;
    /* box-shadow:  2px 5px 1px rgba(64,60,67,.16); */
    border-radius: 24px;
    align-items: center;
    background-color: #fffcf4ce;
}
h2{
    font-weight: bolder;
    font-size: 40px;
    text-decoration: underline #7A6123;
  
}
button:hover{
    color: black;
    background-color:#7A6123;
  
  
}
h5{
    font-size: 25px;
    text-decoration: underline #7A6123;
}
.time{
    margin-right: 60px;
}
.date{
    margin-top: 0px;
    margin-right: 50px;
}
.cities{
    margin-right: px;
}
h1:hover{
    color: #7A6123;
}
h5:hover{
    color: #7A6123;
}
h2:hover{
    color: #7A6123;
}